h2{
    color: rgb(37, 18, 147);
}
p{
    color: rgb(12, 154, 36);
}
#lib-header{
    color: blueviolet;
}
.para{
    color: rgb(158, 20, 163);
}
.para2{
    color: rgb(238, 220, 14);
}
.cma{
    color: rgb(92, 162, 224);
}